nav{
  background: teal;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 10px 25px;
}

ul{
  list-style: none;
  display: flex;
}

ul li{
  margin-right: 12px;
}

a{
  text-decoration: none;
  color: white;
}



  
  .registration-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  h2 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  
  input,
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
  }
  
  input:focus,
  select:focus {
    border-color: #666;
  }
  
  button[type="submit"] {
    background-color: #0077cc;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  button[type="submit"]:hover {
    background-color: #005fa3;
  }
  
  
 
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  body {
    background: #f1f1f1;
  }
  
  .login-box {
    width: 320px;
    height: 420px;
    background: #fff;
    color: #000;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-shadow: 0 5px 15px rgba(0,0,0,.3);
    padding: 70px 30px;
  }
  
  .login-box h2 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    background: transparent;
  }
  
  .login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #000;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #000;
    font-size: 12px;
  }
  
  .login-box button {
    background: #000;
    color: #fff;
    border: none;
    outline: none;
    height: 40px;
    width: 100%;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .login-box button:hover {
    background: #2c2c2c;
  }
  